<!--
 * @Author: your name
 * @Date: 2021-08-13 14:06:10
 * @LastEditTime: 2021-08-13 14:09:45
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \koa2-weibo-code\src\views\widgets\blog-list.ejs
-->
<ul>
    <% blogList.forEach(blog => { %>
        <li><%= blog.title %></li>
    <% }) %>
</ul>